@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');
/* font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
/* font-family: 'Corinthia', cursive; */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body {
    background-color: #f5f5fa;
}
.home-page {
    width: calc(100vw - 20px);
}
header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 8px 0;
    background-color: #ffffff;
}

.header-container {
    position: relative;
    width: 90%;
    padding: 0 24px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.headBar {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.leftBar {
    height: 100%;
    display: flex;
    align-self: center;
    flex: 1 1 0%;
}

.logo-menu {
    height: 100%;
    width: auto;
    margin-right: 48px;
    flex-basis: unset;
}
.tiki-logo {
    width: 57px;
    height: 40px;
}

.tiki-logo img {
    width: 100%;
    height: 100%;
}

.search-ctn {
    height: 100%;
    width: 800px;
}

.search-bar {
    width: 100%;
    display: flex;
    position: relative;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 8px;
    -webkit-box-align: center;
    align-items: center;
}

.icon-search {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 18px;
}

.search-input {
    width: 100%;
    border: 0px;
    padding: 0px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 1 1 0%;
    outline: none;
}
.search-button {
    cursor: pointer;
    border: 0px;
    width: 92px;
    height: 38px;
    padding: 4px;
    border-radius: 0px 8px 8px 0px;
    background: transparent;
    color: rgb(10, 104, 255);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

.search-button::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(221, 221, 227);
    height: 24px;
    left: 0px;
    top: 8px;
}

.search-button:hover {
    background-color: rgba(10, 104, 255, 0.2);
}
.search-button:active {
    background-color: rgba(10, 104, 255, 0.3);
}
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}

button, input {
    overflow: visible;
}

.rightBar{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.right-btn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

.head-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 50%;
}

.cartitem-btn a {
        color: rgb(11, 116, 229);
        text-decoration: none;   
}
.btn-active .head-icon i {
    color: rgb(11, 116, 229);
}
.right-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.right-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
}
.btn-active:hover, .go-cart:hover {
    background-color: rgba(10, 104, 255, 0.1);
}
.btn-active:active, .go-cart:active {
    background-color: rgba(10, 104, 255, 0.2);
}

.cart-btn {
    margin-left: 15px;
    cursor: pointer;
}

span.item-number {
    color: rgb(255, 255, 255);
    background: rgb(255, 66, 79);
    height: 16px;
    right: -8px;
    top: -6px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    position: absolute;
    padding: 1px 4px;
}

.cart-btn::before {
    content: "";
    display: block;
    width: 50px; 
    height: 20px; 
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.cart-btn:hover .cart-ctn{
    display: block;
}

.cart-ctn {
    position: absolute;
    top: 8px;
    right: -18px;
    transform: translateY(40px);
    height: auto;
    width: 350px;
    border-radius: 5px;
    padding: 10px 15px;
    display: none;
    border: 1px solid #b1b1b171;
    background-color: #ffffff;
}

.cart-ctn:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #b1b1b171;
    position: absolute;
    top: 0px;
    right: 20px;
    transform: translateY(-100%);
}
.cart-ctn::after {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 11px solid rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 21px;
    transform: translateY(-100%);
}
.cart-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #3f3f3f
}
.cart-list {
    width: 100%;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
}

.cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.clear-cart{
    padding: 3px 5px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #006ac038;
    font-family: 'Montserrat', sans-serif;
    color: #525252;
    font-weight: 500;
    cursor: pointer;
}
.clear-cart:hover {
    background-color: rgba(255, 0, 0, 0.1);
}
.clear-cart:active {
    background-color: rgba(255, 0, 0, 0.2);
}
.clear-cart i{
    color: rgb(255, 66, 79);
    margin-right: 3px;
}
.cart-item {
    position: relative;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}
.cart-float {
    transform: translateX(100% + 50px);
}
.cart-item img {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border: 1px solid #b1b1b171;
}

.item-name{
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.item-cost{
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    color: rgb(10, 104, 255);
}
.cart-footer {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button.go-cart{
    padding: 8px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #006ac038;
    font-family: 'Montserrat', sans-serif;
    color: #525252;
    font-weight: 500;
    cursor: pointer;
}


.head-banner {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    background-color: #FFE880;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-banner img {
    width: 81px;
    height: 12px;
}
.head-banner a{
    margin-left: 10px;
    line-height: 12px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5px;
}

.main-container{
    position: relative;
    width: 95%;
    height: auto;
    padding: 0 24px;
    margin: 20px auto 0;
    display: flex;
}

.side-bar {
    max-height: 100vh;
    position: sticky;
    top: 20px;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 230px;
    height: 100%;
    margin-right: 20px;
    color: #0543a0;
}

.side-bar:nth-child(2n) {
    color: #3b1d7d;
}

.side__title {
    margin: 0 0 5px 15px;
    font-weight: 600;
}
.side__item{
    display: flex;
    padding: 7px 16px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.side__item i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    font-size: 15px;
    padding-right: 10px;
}
.side__item span {
    margin-left: 10px;
    height: 33.6px;
    width: 100%;
    display: flex;
    align-items: center;
}


.greybtn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.greybtn:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.ads-banner {
    width: 100%;
    height: 280px;
    display: flex;
}

.main-content {
    width: 1150px;
    height: auto;
    margin-left: auto;
}

.wrapper{
    width: 840px;
    height: 100%;
    position: relative;
}

  /* Images Area */
.images-area{
    width: 840px;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}
.images-area img{
    width: 100%;
    transition: 0.3s cubic-bezier(.79,.03,0,.99);
}

  /* Buttons Area  */
.buttons-area{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.buttons-area > div{
    height: 30px;
    width: 30px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
  /* Buttons | Previous And Next */
.buttons-area > div:first-child{
    margin-left: -50px;
}
.buttons-area > div:last-child{
    margin-right: -50px;
}
  /* Show The Buttons */
.wrapper:hover .buttons-area > div:first-child{
    margin-left: 15px;
}
.wrapper:hover .buttons-area > div:last-child{
    margin-right: 15px;
}
.buttons-area div:not(div.disabled):active{
    opacity: 0.7;
}
  /* Disabled Button */
.buttons-area > div.disabled{
    cursor: no-drop;
    opacity: 0.3;
}
.buttons-area div i{
    font-size: 20px;
}
  /* Pagination Area */
.pagination-area{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
  /* Pagination Spans */
.pagination-area span{
    display: inline-block;
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
    opacity: 0.4;
}
  /* Current Active Span */
.pagination-area span.active{
    transform: scale(1);
    opacity: 1;
}

.square-ad {
    margin-left: 20px;
}
.square-ad img{
    height: 280px;
    border-radius: 10px;
}


.collection {
    width: 1150px;
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 2px;
}

.hot-collect {
    background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, 
    rgb(255, 255, 255) 73.49%), 
    linear-gradient(264.03deg, 
    rgb(220, 229, 251) -10.27%, 
    rgb(234, 236, 255) 35.65%, 
    rgb(213, 236, 253) 110.66%);
}
.collect__headbar, .collect__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.collect__body img {
    margin-right: 18px;
    transition: 0.3s cubic-bezier(.8,.1,0,1);
}
.collect__headbar {
    margin-bottom: 20px;
}
.headbar-left, .headbar-right {
    display: flex;
    align-items: center;
}

.left__title {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
}
.headbar-right {
    color :rgb(10, 104, 255);
    cursor: pointer;
}
.right__text {
    font-size: 14px;
    margin-right: 10px;
}
.countdown-ctn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 130px;
    padding: 0 2px;
    border-radius: 5px;
}
.cd__number {
    position: relative;
    height: 28px;
    width: 24px;
    background-color: rgb(255, 66, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.beat-animation {
    animation: beat 0.2s infinite;
}
.colon {
    font-size: 16px;
    color: #000000;
}

.body-item {
    height: 254px;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
}
.button-box {
    position: absolute;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color :rgba(11, 116, 229, 0.4);
    z-index: 1;
}
.button-box i {
    cursor: pointer;
}
.button-box i:hover {
    color :rgba(11, 116, 229, 0.6);
}

.all-colect{
    display: block;
    padding: 20px 0 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
}
.all-colect .left__title{
    position: relative;
    padding-left: 20px;
}
.all-body {
    width: 100%;
    margin-top: 5px;
}

.all__head {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.a-h-item {
    width : calc(100%/6);
    height: 82px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    cursor: pointer;
}

.a-h-item:hover {
    background-color: rgb(238, 238, 238);
}
.all__head .active {
    color: rgb(10, 104, 255);
    border-bottom: 1px solid rgb(10, 104, 255);
    background-color: rgb(230, 239, 255);
}
.all__head .active:hover {
    background-color: rgb(217, 231, 254);
}

.a-h-item i {
    margin-bottom: 10px;
}

.all-list {
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;
}

.list-item {
    height: 370px;
    background-color: #ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    cursor: pointer;
}

.list-item img {
    width: 100%;
    aspect-ratio: 1/1;
}

.list-item .tag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 104, 255);
    background-color: rgb(231, 239, 252);
    margin: 5px 30px;
    width: auto;
    padding: 0 2px;
    border-radius: 10px;
}
.list-item .tag span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-1px);
}
.list-item .tag i {
    margin-right: 7px;
}

.list-item p.item__name {
    margin : 0 7px;
    font-size : 12px;
}

.list-item .check {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 5px
}
.check__star i {
    color : rgb(185, 185, 185);
}
.check__star i.rate {
    color : rgb(255, 196, 0);
}
.check .check__star {
    border-right: 1px solid #dddddd;
    padding-right: 5px;
    margin-right: 5px;
}
.check span {
    font-size: 11px;
    color: #7e7e7e;
}

.item__bot {
    width: 95%;
    font-size: 12px;
}
.item__bot .footer {
    height: 32px;
    width: 100%;
    border-top: 1px solid #dddddd;
    color: #7e7e7e;
    display: flex;
    align-items: center;
    padding: 0 0 5px 5px;
}
.cost .main-cost {
    font-size: 16px;
}
.cost .discount {
    margin-left: 5px;
    padding : 0 5px;
    border-radius: 5px;
    background-color: #efefef;
}
.item__bot .refund {
    color: #7e7e7e;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer div {
    display:flex;
    flex-direction:column;
}

.footer > div h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin-bottom: 12px;
    margin-top: 0px;
}
.footer > div a {
    display: block;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 4px;
    color: rgb(128, 128, 137);
    text-decoration: none;
}

.footer > div h4:not(:first-child) {
    margin-top: 16px;
}

.footer .part-3 > div {
    width: 226px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: row;
}

.part-4 .payments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.part-4 .payments i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left : 3px ;    
    height: 30px;
    width: 30px;
    font-size: 25px;
    color : #0543a0;
}

.part-5 .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.part-5 .socials i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 25px;
}

i.fa-facebook, i.fa-facebook-messenger {
    color: #1a6ed8;
}
i.fa-youtube {
    color: #ff0000;
}
i.fa-twitter {
    color: #1c96e8;
}

.part-5 .app {
    display: flex;
    flex-direction: row;
}
.part-5 .app-store {
    margin-left: 7px;
}
.part-5 .app-store img:first-child {
    margin-bottom: 7px;
}

.footer a:hover {
    color: #0543a0;
    text-decoration: underline;
}
.toast {
    --pColor : #187498;
    --pTime : 5;
    position: fixed;
    min-width: 275px;
    bottom: 15px;
    left: 20px;
    border-radius: 12px;
    background: #fcfcfc;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid var(--pColor);
    overflow: hidden;
    transform: translateX(-150%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
    transform: translateX(0);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}
.toast-content .iCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: var(--pColor);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display:flex;
    flex-direction:column;
    margin: 0 20px;
}

.message .text {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

.message .m-title {
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.toast .iClose {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--pColor);
}

.progress.active::before{
    animation: progress var(--pTime) linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}